.container {
  text-align: center;
  background: whitesmoke;
  height: 300px;
  width: 50%;
  border-radius: 10px;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  color: red;
}

.button {
  height: 40px;
  width: 120px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  margin: auto;
}
